<div class="container">
  <%= form_for @book do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "font-weight-bold" %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :isbn, class: "font-weight-bold" %>
      <%= f.text_field :isbn, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Nbr page", class: "font-weight-bold" %>
      <%= f.number_field :nbr_page, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Publication Year", class: "font-weight-bold" %>
      <%= f.number_field :publication_year, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :summary, class: "font-weight-bold" %>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
