<% title 'Book' %>

<div class="text-center w-md-50">
<%= link_to "Back to books", books_path %>

<h3><%= @book.title %><br></h3>
<h4>Summary: <%= @book.summary %><br></h4>
<h4>ISBN: <%= @book.isbn %><br></h4>
<h4>Page's number: <%= @book.nbr_page %><br></h4>
<h5>Publish: <%= @book.publication_year %><br></h5>
<h4>Author: <%= @book.author_name %><br></h4>
<p><b>Average Rating:</b> <%= show_stars(@book.average_rating) %>  </p>

  <h5><p>Reviews:</h5>
  <div class="row justify-content-center">
  <ul class="list-group col-sm-8"> 
  <% @book.reviews.each do |review| %></p>
    <% if review.id%>
    
      <%= link_to(review_path(review), class: " list-group-item list-group-item-action ") do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= review.user.full_name%></h5>
          <small><%= show_stars(review.stars)%></small>
        </div>
     <p class="mb-1"><%= review.comments%></p>
    <%# <small>Donec id elit non mi porta.</small> %>
      <% end %>
    
    <%end%>
  <% end %>
  </ul>
  </div>
<p class="mb-1"><b>Add review:</b></p>
<%= form_for @review, html: {class: 'pt-2 form-horizontal'} do |f| %>

  <div class="form-group row justify-content-center">
    <%= f.label :stars, class: "col-md-2 control-label" %>
    <div class="col-md-7">
      <%= f.select :stars, [[1], [2], [3], [4], [5]],{}, {class: "form-control "} %>
    </div>
  </div>

    <%= f.hidden_field :book_id%>
    <%= f.hidden_field :user_id%>

  <div class="form-group row justify-content-center">
    <%= f.label :comments, class: "col-md-2 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :comments %>
      </div>
  </div>
  <div class="form-group row justify-content-center">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
<%# link_to "Back", books_path, class: 'btn btn-secondary' %>

<% if @current_user == @book.author %> 
  <%= link_to "Edit", edit_user_book_path(@book.author_name, @book), class: 'btn btn-info col-sm-4' %> 
  <%= form_tag book_path(@book), method: "delete", data: { confirm: "Are you sure you want to delete this item?" } do %>
    <%= submit_tag "Delete", class: 'btn btn-danger col-sm-4' %>
  <% end %> 
<% end %>
<div>