<% if @review.errors.any? %>
  <div class="notice alert-warning">
      <p>There were some errors:</p>
      <br>
        <% @review.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
    </div>
<% end %>
<br>

<%= form_for @review do |f| %>

  <%= f.hidden_field :user_id %>

  <div class="form-group">  
    <%= f.label :stars, class: "control-label font-weight-bold" %>
      
      <%= f.select :stars, [[1], [2], [3], [4], [5]],{}, {class: "form-control "}%>
  </div>

  <div class="form-group">
    <%= f.label :comments, class: "font-weight-bold" %>
    
      <%= f.text_area :comments, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>

