<% title 'Review' %>

<div class="jumbotron">
    <h1 class="text-center "><%= @review.book.title %></h1>
    <hr class="my-4">
    <div class='row justify-content-center'>
        <div class="col-sm-4 col-md-3"><h4>Review by : </h4></div>
        <div class="col-sm-2 px-sm-1"><h4><%= @review.user.full_name %> </h4></div>
        <div class="col-sm-2 col-sm-offset-3"><h4>Stars: </h4></div>
        <div class="col-sm-3"><h4><%= show_stars(@review.stars) %> </h4></div>
    </div>
    <div class="row justify-content-center pt-sm-4">
    <div class="col-sm-4  col-sm-offset-3"></div>
        <div class="col-sm pl-sm-2"><h4>Comments: </h4></div>
        <div class="col-sm"><p><%= @review.comments %></p></div>
        
        
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 50px">
            <%= 
                link_to "Back",
                user_book_path(@review.book.author.full_name, @review.book) ,
                class: "btn btn-primary btn-lg btn-block"
            %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 30px">
            <%= link_to_if(@current_user == @review.user,
                            "Edit Review",
                            edit_review_path(@review),
                            class: "btn btn-info btn-lg btn-block") do %>
            <% end %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 30px">
        <%= link_to_if(@current_user == @review.user,
                        "Delete Review", 
                        review_path(@review), 
                        {method: :delete, class: "btn btn-danger btn-lg btn-block"}
                        ) do %>
        <% end %>
        </div>
    </div>
</div>
